@model MDB.Models.Movie

@{
    ViewBag.Title = "Details";
}
<script>
    System.defaultJSExtensions = true;
    System.config({
        baseURL: '/Scripts/node_modules/'
    });
    System.import("/Scripts/App/movie_rating");
</script>
<div class="container-fluid">
    <div class="container center-block">
        <div class="container myContainer">
            <div class="col-xs-4">
                <img class="img-responsive" src="@Model.ImgSrc" width="600" height="800" />
            </div>
            <div class="col-xs-8">
                <h1>
                    @Html.DisplayFor(modelItem => Model.Title)
                    @Html.DisplayFor(modelItem => Model.Year)
                </h1>
            </div>
            <div class="col-xs-6">
                <ul class="breadcrumb" style="display:inline-block">
                    @foreach (var tag in Model.Tags)
                    {
                        <li><a href="#">@tag.Name</a></li>
                    }
                </ul>
                <button type="button" class="btn btn-default" aria-label="Right Align">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </div>
            <div class="col-xs-6 ">
                <movie-rating></movie-rating>
                <input type="number" class="rating" data-size="xs" step="1" />
            </div>

            <div class="btn-group col-xs-4">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add To <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Watched</a></li>
                    <li><a href="#">To Watch</a></li>
                    <li><a href="#">Not Interested</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Remove</a></li>
                </ul>
            </div>
            <hr class="col-xs-6">
            <div class="col-xs-6 panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Html.DisplayNameFor(modelItem => Model.Description)
                    </h3>
                </div>
                <div class="panel-body">
                    @Html.DisplayFor(modelItem => Model.Description)
                </div>
            </div>
            <div class="col-xs-8">
                <div class="list-group">
                    <div class="list-group-item col-xs-8">
                        <div class="smallImgContainer">
                            <img class="img-responsive" src="@Model.Director.ImgSrc" width="39" height="64" />
                            <div>
                                @Html.ActionLink(@Model.Director.Fullname, "Details", "Directors", new { id = Model.Director.PersonID }, null)
                                (Director)
                            </div>
                            <button style="float:right" type="button" class="btn btn-default" aria-label="Right Align">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </div>
                    </div>
                    <div class="list-group-item col-xs-8">
                        <div class="smallImgContainer">
                            <img class="img-responsive" src="@Model.Screenwriter.ImgSrc" width="39" height="64" style="float:left" />
                            <div>
                                @Html.ActionLink(@Model.Screenwriter.Fullname, "Details", "Screenwriters", new { id = Model.Screenwriter.PersonID }, null)
                                (Screenwriter)
                            </div>
                            <button type="button" class="btn btn-default" aria-label="Right Align">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container myContainer">
            <div class="col-xs-10 panel panel-info center-block">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Html.DisplayNameFor(modelItem => Model.Actors)
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        @foreach (var actor in Model.Actors)
                        {
                            <div class="list-group-item col-xs-12">
                                <div class="smallImgContainer">
                                    <img class="img-responsive" src="@actor.ImgSrc" width="39" height="64" />
                                    @Html.ActionLink(@actor.Fullname, "Details", "Actors", new { id = actor.PersonID }, null)
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
