@model IEnumerable<MDB.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actors)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.ImgSrc" width="90" height="114" />
            </td>
            <td style="vertical-align:middle">
                @Html.ActionLink(@Html.DisplayFor(modelItem => item.Title).ToString(), "Details", "Movies", new { id = item.MovieID }, null)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td class="col-xs-6" style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td style="vertical-align:middle">
                <ul>
                    @foreach (var actor in item.Actors)
                    {
                        <li>@Html.ActionLink(@actor.Fullname, "Details", "Actors", new { id = actor.PersonID }, null)</li>
                    }
                </ul>
            </td>
            <td style="vertical-align:middle">
                @Html.ActionLink("Edit", "Edit", new { id = item.MovieID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MovieID })
            </td>
        </tr>
    }

</table>
